<a href="https://colab.research.google.com/github/krish-333/TECH-LAB-AND-DWP/blob/main/DWP_practical_1_Krish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {'Age': [25, None, 30, 22, None],
        'Gender': ['M', 'F', 'M', 'F', None]}


print(df.isna().sum())
# drop rows with missing values
df_complete_case = df.dropna()
print(df_complete_case)

Age           2
Gender        1
Age_mean      0
Age_median    0
dtype: int64
  Age Gender  Age_mean  Age_median
0  25      M      25.0        25.0
2  30      M      30.0        30.0
3  22      F      22.0        22.0

In [ ]:
type(df['Age'])

pandas.core.series.Series

In [ ]:
#mean
df['Age_mean'] = df['Age'].fillna(df['Age'].mean())
print(df)

#median
df['Age_median'] = df['Age'].fillna(df['Age'].median())
print(df)

    Age Gender   Age_mean
0    25      M  25.000000
1  None      F  25.666667
2    30      M  30.000000
3    22      F  22.000000
4  None   None  25.666667
    Age Gender   Age_mean  Age_median
0    25      M  25.000000        25.0
1  None      F  25.666667        25.0
2    30      M  30.000000        30.0
3    22      F  22.000000        22.0
4  None   None  25.666667        25.0

<ipython-input-7-4d48be56f1fc>:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Age_mean'] = df['Age'].fillna(df['Age'].mean())
<ipython-input-7-4d48be56f1fc>:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Age_median'] = df['Age'].fillna(df['Age'].median())

In [ ]:
data='/content/titanic.csv'
df=pd.read_csv(data)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]